<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="page">
      <h2 data-cy="pageDetailsHeading"><span>Page</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ page.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ page.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ page.description }}</span>
        </dd>
        <dt><span>Model Id</span></dt>
        <dd>
          <span>{{ page.modelId }}</span>
        </dd>
        <dt><span>Page Id</span></dt>
        <dd>
          <span>{{ page.pageId }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ page.type }}</span>
        </dd>
        <dt><span>Full Screen</span></dt>
        <dd>
          <span>{{ page.fullScreen }}</span>
        </dd>
        <dt><span>History</span></dt>
        <dd>
          <span>{{ page.history }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/page', page.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
